apiVersion: v1
kind: Secret
metadata:
  name: crowi-secrets
type: Opaque
data:
  password-seed: <your secret encoded by base64>
  secret-token: <your secret encoded by base64>
  aws-access-key-id: <your secret encoded by base64>
  aws-secret-access-key: <your secret encoded by base64>
  aws-backup-bucket-name: <your secret encoded by base64>
